/*Variables*/
:root {
    --green: rgb(9, 141, 16);
    --lightgreen: rgb(30, 255, 0);
    --grey: rgba(80, 63, 63, 0.42);
    --hover: rgb(218, 208, 208);
}

header nav{
    background-color: var(--grey);
}

nav {
    padding: 0;
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

nav a {
    text-transform: uppercase;
    color: white;
    padding: 5 10;
    margin: 5 10;
}

nav li, nav a {
    display: inline-block
}

.btn:hover {
    background-color: var(--lightgreen);
}

body {
    margin-top: 60px;
    background-color: var(--green)
}

section {
    padding: 0 100px;
}

img {
    width: 100%;
    
}

.textbox {
    background-color: var(--lightgreen);
}